.label_container{
display: flex;
flex-direction: row;


margin-left: 100px;
margin-right: 100px;
}

.titulo{
  min-width: 300px;
  margin-left: 30px;
  margin-right: 30px;
}

.titulo > p{
  color:rgba(0, 0, 0, 0.911);
  padding: 1%;
}
