.label_container{
border: 1px solid black;

display: flex;
flex-direction: row;


margin-left: 100px;
margin-right: 100px;
}

.titulo{
  margin-left: 30px;
  margin-right: 30px;
}

.titulo > h1{
  padding: 1%;
}
