<div class="menu_bar_container">

  <div class="logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2dyVFUmTntoBCq1tDMNhmcZdUXB7eTCVSa3fXiBl4Fo6fVVL0df4wU6Qf7jT8rdqEKXE&usqp=CAU"
    alt="Logo da PlayStation Store"
     width="150px"
     height="32px"
     >
  </div>

  <div class="menu">

    <ul>
      <li><a href="#">Novidades</a></li>
      <li><a href="#">Coleções</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">PS5</a></li>
      <li><a href="#">Assinaturas</a></li>
      <li><a href="#">Navegar</a></li>
    </ul>

  </div>

</div>
